h1 {
  text-align: center;
}

table, th, td {
  border-collapse: collapse;
}

th {
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

th:not(:first-child) {
  border-left: 2px solid white;
}

th:last-child {
  border-left: 2.5px solid white;
}

th:first-child {
  border-right: 2.5px solid white;
}

table {
  width: 100%;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2.5px solid black;
}

tr {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #EEEEEE;
}

.button-column {
  width: 150px;
}

.filters {
  margin-bottom: 10px;
}

#personFilter {
  margin-left: 325px;
  width: 110px;
  max-width: 110px;
}

#statusFilter {
  margin-left: 55px;
  width: 120px;
  max-width: 120px;
}

.persCol {
  width: 160px;
  max-width: 160px;
}

.descCol {
  width: 200px;
  max-width: 200px;
}

#addTodoForm {
  margin-bottom: 20px;
}

#addTodoInputFields {
  margin-top: 20px;
  caret-color: red;
}

#personInput, #descInput {
  margin-left: 5px;
}

#personInputLabel {
  margin-left: 20px;
}

#checkBtn, #cancelBtn {
  margin-left: 10px;
}
